/node_modules/
/lib/
/test/
/dist/
custom-elements.json
# top level source
my-element.js
my-element.js.map
my-element.d.ts
my-element.d.ts.map
# only generated for size check
my-element.bundled.js
styles/
test-results/
src/**/*.js
src/**/*.js.map
src/**/*.js.map
src/**/*.d.*

/avatar/
/button/
/card/
/icon/